<div id="<%= dom_id hour %>">
  <p>
    <strong>Date:</strong>
    <%= hour.date %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= hour.hour %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= hour.action %>
  </p>

  <p>
    <strong>Health:</strong>
    <%= hour.health %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= hour.mood %>
  </p>

</div>
