<h1>
  諸々の条件で日に対して絞り込みを行いたい
</h1>

<%
=begin
%>
<%= form_with model: @day, method: :get, local: true do |form| %>

    <div class="field">
        <%= form.label :event %>
        <%= form.search_field :event %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>

    <% end %>
<%
=end
%>

<p>ID検索ではあるがIDがぐちゃぐちゃになってしまったのであまり実用的ではない</p>
<%= form_with url: "/search", method: :get do |form| %>
<!-- ↑たぶんこれ全然あってない -->  

    <%= form.label :query_id, "Search for the id (integer):" %>
    <%= form.text_field :query_id %>
    <%= form.submit "Search" %>
    
<% end %>

<%= form_with url: "/search", method: :get do |form| %>
<!-- ↑これの意味をちゃんと今日あたりに解読したい -->

    <%= form.label :query_event, "Search for the event (string):" %>
    <%= form.text_field :query_event %>
    <%= form.submit "Search" %>

<% end %>

<%
=begin  とりあえず上のeventでの検索をなんとかしてから考える
%>

<%= form_with url: "/search", method: :get do |form| %>

    <%= form.label :query_date, "Search for date:" %>
    <%= form.date_select :query %>
    <%= form.submit "Search" %>

<% end %>

<%= form_with url: "/search", method: :get do |form| %>

    <%= form.label :query_date, "Search for expense (integer):" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>

<% end %>

<%
=end
%>