<div id="<%= dom_id purchase %>">
  <p>
    <strong>Date:</strong>
    <%= purchase.date %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= purchase.purchase %>
  </p>

  <p>
    <strong>Shop:</strong>
    <%= purchase.shop %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= purchase.location %>
  </p>

  <p>
    <strong>Goods:</strong>
    <%= purchase.goods %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= purchase.price %>
  </p>

</div>
