<div id="<%= dom_id day %>">
  <p>
    <strong>Date:</strong>
    <%= day.date %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= day.event %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= day.expense %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= day.memo %>
  </p>

</div>
