<%= form_with(model: day) do |form| %>
  <% if day.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
        <% day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :event, style: "display: block" %>
    <%= form.text_field :event %>
  </div>

  <div>
    <%= form.label :expense, style: "display: block" %>
    <%= form.number_field :expense %>
  </div>

  <div>
    <%= form.label :memo, style: "display: block" %>
    <%= form.text_field :memo %>
  </div>

  <div>
    <%= form.label :health, style: "display: block" %>
    <%= form.text_field :health %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
