=begin
<p style="color: green"><%= notice %></p>

<h1>Days</h1>

<div id="days">
  <% @days.each do |day| %>
    <%= render day %>
    <p>
      <%= link_to "Show this day", day %>
    </p>
  <% end %>
</div>

<%= link_to "New day", new_day_path %>
=end

<table>
    <tr>
        <th>日付</th><th>できごと</th><th>出費</th><th>メモ</th>
    </tr>
<% @days.each do |day| %>
    <tr>
        <td><%= day.date %></td>
        <td><%= day.event %></td>
        <td><%= day.expense %></td>
        <td><%= day.meom %></td>
    </tr>
<% end %>
</table>

